* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
    margin: auto;
    width: 50%;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.box {
    border: 1px solid salmon;
    min-height: 100px;
}