//var 
var varName
var varName = "John Script"

console.log(varName)
var varName = "John has no script"

console.log(varName)

var sentence = "The quick brown fox jumps over the lazy dog"

console.log(sentence)

var sentence = "The first sentence contains all the letters in the English alphabet"

console.log(sentence)


//let

let name
name = "Ben"
console.log(name)

name = "Bejamin"
console.log(name)


let sum = 4+8
console.log(sum)

sum = 12*12
console.log(sum)


//const
//const PI
